@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

html,
body {
    height: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    background-color: #000000;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

@media (max-width: 900px) {
    body {
        font-size: 16px;
    }
    .navigation {
        flex-direction: column;
        gap: 10px;
    }
    .header {
        padding: 35px 0;
        display: flex;
        justify-content: center;
    }
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: white;
}
body::-webkit-scrollbar-thumb {
    background-color: silver;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px white;
    background-color: transparent;
}
.header {
    padding: 14px 20px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: #44f325;
    transition: top 0.3s;
    z-index: 1000;
    max-width: 1920px;
    margin: 0 auto;
}
.navigation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.header-link,
.footer-link {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 900;
    font-size: 22px;
    transition: color 0.3s ease;
}
.nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.nav-item {
    margin-left: 20px;
}
.nav-link {
    font-weight: 100;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 16px;
    border-bottom: 1px solid transparent;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}

@media (max-width: 550px) {
    .nav-item {
        margin-left: 5px;
        font-size: 14px;
    }
    .nav-link {
        padding: 2px 5px;
    }
}

.nav-list.show {
    max-height: 500px;
    opacity: 1;
}

.burger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.burger-line {
    width: 30px;
    height: 2px;
    background-color: rgb(0, 0, 0);
    margin: 3px 0;
    transition: 0.3s;
}

.burger-menu.active .burger-line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.burger-menu.active .burger-line:nth-child(2) {
    opacity: 0;
}

.burger-menu.active .burger-line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

@media (max-width: 730px) {
    .nav-list {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
    }
    .nav-list {
        display: flex;
    }

    .burger-menu {
        display: flex;
    }
    .navigation {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.main-content {
    margin-top: 50px;
}

@media (max-width: 768px) {
    .main-content {
        margin-top: 52px;
    }
    .navigation {
        justify-content: space-evenly;
    }
}

.slider-header {
    position: relative;
    width: 100vw;
    height: 86vh;
    overflow: hidden;
    margin-top: 36px;
}

.slider-header-content {
    width: 100%;
    height: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide-header {
    min-width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.slide-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-header-text {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #44f325;
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.352);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide-header-text h2,
.slide-header-text h1 {
    font-size: 2.5rem;
    margin: 0;
}

.slide-header-text p {
    font-size: 1.2rem;
}

.prev-header,
.next-header {
    position: absolute;
    top: 50%;
    font-size: 2rem;
    background: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.prev-header {
    left: 20px;
}

.next-header {
    right: 20px;
}

@media (max-width: 768px) {
    .slide-header-text h2,
    .slide-header-text h1 {
        font-size: 2rem;
    }

    .slide-header-text p {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .slide-header-text h2,
    .slide-header-text h1 {
        font-size: 1.5rem;
    }

    .slide-header-text p {
        font-size: 0.8rem;
    }

    .prev-header,
    .next-header {
        font-size: 1.5rem;
    }
}

.rewards-section {
    text-align: center;
    padding: 40px 20px;
}

.rewards-title {
    font-size: 2rem;
    color: #ffffff;
}

.rewards-description {
    font-size: 1.2rem;
    color: #9b9b9b;
    margin-bottom: 30px;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.play-button {
    display: inline-block;
    padding: 10px 50px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    text-decoration: none;
    transition: background-color 0.3s ease;
    animation: pulse 1.5s infinite;
}

@media (max-width: 600px) {
    .rewards-title {
        font-size: 1.5rem;
    }

    .rewards-description {
        font-size: 1rem;
    }

    .play-button {
        padding: 10px 20px;
    }
}

.info-section {
    background-color: #ffffff;
    padding: 20px 0;
}

.info-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
}

.info-item {
    display: flex;
    align-items: center;
    margin: 10px 20px;
    font-size: 1.2em;
}

.info-item i {
    margin-right: 10px;
    color: #d20000;
}

.info-item span {
    color: black;
}

@media (max-width: 768px) {
    .info-container {
        flex-direction: column;
        align-items: center;
    }

    .info-item {
        margin: 5px 0;
        font-size: 1em;
    }
}

.advantages-section {
    max-width: 100%;
    margin: 0 auto;
    padding: 40px 120px;
}

.advantages-title {
    text-align: center;
    font-size: 38px;
    color: #ffffff;
    margin-bottom: 30px;
}

.advantage-block {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.advantage-image {
    width: 50%;
    height: auto;
    border-radius: 30px;
}

.advantage-text {
    width: 50%;
    padding: 0 20px;
}

.advantage-subtitle {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
}

.advantage-description {
    font-size: 16px;
    color: #ffffff;
}

@media (max-width: 768px) {
    .advantages-section {
        padding: 40px 20px;
    }
    .advantage-block {
        flex-direction: column;
        align-items: flex-start;
    }

    .advantage-image {
        width: 100%;
        margin-bottom: 10px;
    }

    .advantage-text {
        width: 100%;
        padding: 0;
    }

    .revers-text {
        flex-direction: column-reverse;
    }
}

.advantages-description {
    font-size: 1.2em;
    color: #9b9b9b;
    margin: 10px 0 20px;
    text-align: center;
}

.footer {
    background-color: #44f325; /* Цвет фона футера */
    color: #000000; /* Цвет текста */
    padding: 20px 0; /* Отступы сверху и снизу */
    font-family: "Arial", sans-serif; /* Шрифт */
}

.footer-container {
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование */
    padding: 0 20px; /* Боковые отступы */
    display: flex; /* Используем Flexbox для адаптивности */
    flex-direction: column; /* В столбец по умолчанию */
    align-items: center; /* Центрируем элементы по горизонтали */
}

.footer-info {
    text-align: center; /* Центрируем текст */
    margin-bottom: 15px; /* Отступ снизу */
}

.footer-link {
    font-size: 24px; /* Размер шрифта для ссылки на название */
    font-weight: bold; /* Жирный шрифт */
    color: #000000; /* Цвет текста ссылок */
    text-decoration: none; /* Убираем подчеркивание */
}

.footer-link:hover {
    color: rgb(127, 127, 127); /* Цвет при наведении */
}

.contact-footer {
    display: block; /* Каждая ссылка на новой строке */
    color: #000000; /* Цвет текста */
    text-decoration: none; /* Убираем подчеркивание */
    margin: 5px 0; /* Отступы сверху и снизу */
}

.contact-footer:hover {
    color: rgb(127, 127, 127); /* Цвет при наведении */
}

.footer-bottom {
    display: flex; /* Используем Flexbox для нижней части */
    flex-direction: column; /* В столбец по умолчанию */
    align-items: center; /* Центрируем элементы */
    margin-top: 10px; /* Отступ сверху */
}

.footer-bottom a {
    color: #000000; /* Цвет ссылок внизу */
    margin: 0 10px; /* Отступы между ссылками */
    text-decoration: none; /* Убираем подчеркивание */
}

.footer-bottom a:hover {
    color: rgb(127, 127, 127); /* Цвет при наведении */
}

.footer-bottom p {
    margin-top: 10px; /* Отступ сверху для текста © */
    font-size: 14px; /* Размер шрифта для текста © */
    text-align: center; /* Выравнивание по центру */
}
footer p {
    text-align: center;
}

/* Адаптивные стили */
@media (min-width: 768px) {
    .footer-container {
        flex-direction: row; /* В ряд на больших экранах */
        justify-content: space-between; /* Распределяем пространство между элементами */
    }

    .footer-info {
        text-align: left; /* Выравниваем текст влево для больших экранов */
    }

    .footer-bottom {
        flex-direction: row; /* В ряд для нижней части */
        justify-content: center; /* Центрируем элементы */
    }
}

@media (max-width: 768px) {
    .advantages-description {
        font-size: 1em;
        margin: 8px 0 16px;
    }
}


.skillfantasyarena-production-section {
    padding: 40px 20px;
    text-align: center;
}

.skillfantasyarena-section-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.skillfantasyarena-flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.skillfantasyarena-left-block, .skillfantasyarena-right-block {
    flex: 1;
    max-width: 300px;
    margin: 10px;
    border: 2px solid white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.skillfantasyarena-center-block {
    flex: 1;
    max-width: 350px; 
    margin: 10px;
    border: 2px dashed #ffffff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    font-size: 3em;
}

.skillfantasyarena-service {
    margin: 15px 0;
    text-align: left;
}

.skillfantasyarena-icon {
    font-size: 1.5em;
    margin-right: 10px;
    color: #44f325;
}
.skillfantasyarena-production-btn {
    text-decoration: none;
    border: 2px solid rgb(255, 255, 255);
    padding: 6px 8px;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease,
                color 0.3s ease;
}
@media (max-width: 768px) {
    .skillfantasyarena-flex-container {
        flex-direction: column;
        align-items: center;
    }

    .skillfantasyarena-left-block, .skillfantasyarena-right-block, .skillfantasyarena-center-block {
        max-width: 100%;
    }
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.achievements {
    background-color: #fff;
    padding: 40px 20px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
}

.achievements__title {
    text-align: center;
    font-size: 2.5em;
    color: #333;
}

.achievements__description {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

.achievements__stats {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.achievement-card {
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 30%; /* Adjust to fit responsiveness */
    margin: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    perspective: 1000px;
    position: relative;
}

.achievement-card__inner {
    position: relative;
    width: 100%;
    height: 200px; /* Fixed height */
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.achievement-card__front,
.achievement-card__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

.achievement-card__front {
    background-color: #4CAF50; /* Primary color */
    color: white;
}

.achievement-card__back {
    background-color: #efefef; /* Secondary color */
    color: #333;
    transform: rotateY(180deg);
}

.achievement-card:hover .achievement-card__inner {
    transform: rotateY(180deg);
}

.achievement-card__number {
    font-size: 2em;
    font-weight: bold;
}

.achievement-card__text {
    font-size: 1.2em;
    margin-top: 10px;
}

@media (max-width: 768px) {
    .achievement-card {
        width: 45%; /* Responsive size for smaller screens */
    }
}

@media (max-width: 480px) {
    .achievement-card {
        width: 90%; /* Responsive size for mobile */
    }
}

.team-section {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
    max-width: 1400px;
}

.team-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #ffffff;
}

.team-section p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 20px;
    color: #b0b0b0;
}

.team-card p { 
    color: rgb(255, 255, 255);
}

.team-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.team-card {
    background-color: #ececec43;
    border-radius: 8px;
    padding: 15px;
    width: calc(33.33% - 20px);
    transition: transform 0.3s;
}

.team-card:hover {
    transform: scale(1.05);
}

.team-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.team-card h3 {
    margin: 10px 0 5px;
    color: rgb(88, 253, 23);
}

.team-card p {
    margin: 5px 0;
}

@media (max-width: 900px) {
    .team-card {
        width: calc(50% - 20px);
    }
}

@media (max-width: 600px) {
    .team-card {
        width: 100%;
    }
}

.reviews-section {
    text-align: center;
    margin: 20px;
}

.reviews-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.slider {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.slide {
    opacity: 0;
    transition: opacity 0.5s ease;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
}

.slide.active {
    opacity: 1;
}

.review-image {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-bottom: 10px;
}

.reviewer-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.review-text {
    font-size: 1.2em;
    line-height: 1.5;
    padding: 0 20px;
}

@media (max-width: 768px) {
    .reviews-title {
        font-size: 1.5em;
    }

    .review-text {
        font-size: 1em;
    }

    .review-image {
        width: 60px;
        height: 60px;
    }
}

.navigation {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
}

/* Навигационное меню */
.nav-list {
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-item {
    position: relative;
}

/* Бургер-меню */

/* Адаптивность */
@media (max-width: 730px) {
    .burger-menu {
        display: flex;
    }
    .nav-list {
        display: flex;
        flex-direction: column;
        background-color: #44f325;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .nav-list.active {
        display: flex;
    }
}
.footer__links{
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-right: 20px;

}
.footer__links img{
    height: 40px;
}

.collaboration {
    text-align: center;
    padding: 40px 20px;
}

.collaboration-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.collaboration-description {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.collaboration-blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collaboration-block {
    flex: 1 1 400px;
    height: 400px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    transition: transform 0.3s;
}

.designer-block {
    background-image: url('../img/block-1.jpg');
    background-size: cover;
    background-position: center;
}

.dealer-block {
    background-image: url('../img/block-2.jpg');
    background-size: cover;
    background-position: center;
}

.collaboration-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    opacity: 0;
    transition: opacity 0.3s;
}

.block-title {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 1.5rem;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s;
}

.block-button {
    display: inline-block;
    margin-top: 10px;
    padding: 6px 10px;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 20px;
    z-index: 2;
    opacity: 0;
    transition: background-color 0.3s ease,
                color 0.3s ease;
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%);
}

.collaboration-block:hover::before {
    opacity: 1;
}

.collaboration-block:hover .block-title,
.collaboration-block:hover .block-button {
    opacity: 1;
}
.collaboration-btn-section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    background-color: #f9f9f9;
    padding: 20px;
}

.collaboration-button {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease,
                color 0.3s ease;
}

.collaboration-button i {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .collaboration-button {
        font-size: 16px;
        padding: 12px 25px;
    }
}

@media (max-width: 768px) {
    .collaboration-block {
        flex: 1 1 100%;
        height: 200px;
    }

    .block-title,
    .block-button {
        opacity: 1;
    }

    .block-button {
        bottom: 10px;
    }

    .collaboration-block::before {
        opacity: 1;
    }
}














@media (min-width: 1025px) {
    .header-link:hover,
    .footer-link:hover {
        color: rgb(127, 127, 127);
    }
    .nav-link:hover {
        color: rgb(127, 127, 127);
    }
    .play-button:hover {
        background-color: #44f325;
    }
    .skillfantasyarena-production-btn:hover {
        background-color: #44f325;
        color: rgb(0, 0, 0);
        border: black;
    }
}