---
import Layout from "../Layouts/Layout.astro";
import FAQCard from "../components/FAQCard.astro";
---

<Layout>
	<div>
		<FAQCard/>
	</div>
</Layout>

<style>
	div {
		margin-top: 100px;
		margin-bottom: 40px;
	}
</style>