---
import Layout from "../Layouts/Layout.astro";
import ReturnToBlog from "../components/ReturnToBlog.astro";
import MindfulMorningsConfig from "../config/main-config.json"
---

<Layout>
  <div class="one_card_blog">
    <div class="card-mornings">
      <p class="card-mornings_title">{MindfulMorningsConfig.mindfulMornings[0].subtitle}</p>
      <div class="card-morning_container">
        <div class="card-morning-container_content">
        	<p class="card-mornings-container_text">
				{MindfulMorningsConfig.mindfulMornings[0].description.split('\n').map(line => (
					<span>
						{line}
						<br />
					</span>
				))}
        	</p>
          <ReturnToBlog />
        </div>
        <img
          class="BlogMorningImg"
          src="/test/img/blog_img/morning.jpg"
          alt="Mindful Mornings"
        />
      </div>
    </div>
  </div>
</Layout>

<style>
  .one_card_blog {
    margin-bottom: 40px;
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .card-mornings {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 1194px;
    height: 100%;
    padding: 60px;
    border-radius: 50px;
    
    background-color: rgba(0, 0, 0, 0.4);

    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    will-change: backdrop-filter;
    box-shadow:
      0px 0px 10px 0px #00000033,
      0px 0px 10px 0px #ffffff40 inset,
      0px 4px 4px 0px #ffffff4d inset,
      0px 2px 6px 0px #0000004d;
  }
  .card-mornings_title {
    font-family: Arial;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 40px;
  }
  .card-morning_container {
    display: flex;
    gap: 40px;
  }
  .BlogMorningImg {
    width: 500px;
    height: 500px;
    border-radius: 30px;
    object-fit: cover;
  }
  .card-mornings-container_text {
    font-family: Arial;
    font-size: 18px;
    font-weight: 400;
    line-height: 23.4px;
  }
  @media (max-width: 1024px) {
    .card-mornings{
      width: 100%;
      margin: 16px;
      padding: 40px;
    }
    .card-morning_container {
      flex-direction: column;
      align-items: center;
    }
    .BlogMorningImg {
      width: 100%;
      height: 100%;
    }
	.card-morning-container_content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	}
	.card-morning_container{
	gap: 20px;
	}   
}
</style>
