---
import Layout from "../Layouts/Layout.astro";
import PriceHome from "../components/PriceHome.astro";
---

<Layout>
    <div class="pricing-wrapper">
        <PriceHome/>
    </div>
</Layout>

<style>
    .pricing-wrapper {
        margin-top: 40px;
        display: flex;
        justify-content: center;
    }
</style>