---
import HeroHomeBtn from "./HeroHomeBtn.astro";
// import HeroImg from "../../../img/home_img/hero-home-img.svg";
import homeConfig from "../config/main-config.json";
const heroData = homeConfig.heroHome[0];
---

<div>
    <h2 class="m-l-80">{heroData.title}</h2>
    <p class="m-l-80">{heroData.text}</p>
    <HeroHomeBtn/>
    <img src="/test/img/home_img/hero-home-img.svg" alt="Hero img">
</div>

<style>
    div {
        margin-top: 110px;
        width: 1194px;
        height: 700px;
        border-radius: 50px;
        background: #00000066;
        backdrop-filter: blur(30px);
        -webkit-backdrop-filter: blur(30px);
        will-change: backdrop-filter;
        box-shadow: 
            0px 0px 10px 0px #00000033,
            0px 0px 10px 0px #FFFFFF40 inset,
            0px 4px 4px 0px #FFFFFF4D inset,
            0px 2px 6px 0px #0000004D;
        position: relative;
    }
    h2 {
        margin-top: 60px;
        font-style: italic;
        color: var(--color-text);
        font-size: 120px;
        font-weight: 700;
        line-height: 108px;
        max-width: 428px;
        text-align: left;
    }
    .m-l-80 {
        margin-left: 80px;
    }
    p {
        margin: 0;
        margin-top: 54px;
        max-width: 335px;
        color: var(--color-text);
    }
    img {
        position: absolute;
        width: 783px;
        height: 671px;
        bottom: 0;
        right: 0;
        border-bottom-right-radius: 50px;
    }
    /* Адаптируем под разрешение от 1024 до 1400px */
    @media (max-width: 1400px) {
        div {
            width: 1000px;
        }
        img {
            width: 650px;
            height: auto
        }
        .m-l-80 {
            margin-left: 20px;
        }
    }

    /* Адаптируем под разрешение от 768 до 1024px */
    @media (max-width: 1024px) {
        div {
            width: 760px;
        }
        img {
            width: 490px;
        }
        .m-l-80 {
            margin-left: 20px;
        }
        p {
            margin-top: 34px;
            max-width: 300px;
        }
    }
    /* Адаптируем под разрешение от 425 до 768px */
    @media (max-width: 768px) {
        div {
            margin-top: 80px;
            width: 100%;
            height: 930px;
            display: flex;
            flex-direction: column;
            position: unset;
            align-items: center;
        }
        h2 {
            text-align: center;
            margin-top: 40px;
            font-size: 80px;
            line-height: 80px;
            max-width: 90%;
        }
        .m-l-80 {
            margin-left: unset;
        }
        p {
            font-family: "Sitara-Regular", sans-serif;
            font-size: 24px;
            font-weight: 400;
            line-height: 26.4px;
            text-align: left;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
            margin-top: 20px;
            max-width: 90%;
        }
        img {
            width: 100%;
            height: auto;
            border-bottom-right-radius: 50px;
            border-bottom-left-radius: 50px;
            margin-top: 14px;
        }
    }
    /* Адаптируем под разрешение до 425px */
    @media (max-width: 425px) {
        div {
            height: 581px;
            margin-bottom: 20px;
        }
        h2 {
            margin-top: 40px;
            font-size: 40px;
            line-height: 36px;
        }
        p {
            font-size: 14px;
            line-height: 16.8px;
        }
    }
</style>