---
// import WomenImg from "../../../img/home_img/women-home-img.svg"
import PlanHomeWidget1 from "./PlanHomeWidget-1.astro"
import PlanHomeWidget2 from "./PlanHomeWidget-2.astro"
import planHomeConfig from "../config/main-config.json"
const planHomeData = planHomeConfig.planHome[0];
---

<div>
    <h2>{planHomeData["title-1"]}</h2>
    <PlanHomeWidget1/>
    <img src="/test/img/home_img/women-home-img.svg" alt="Women">
    <h2>{planHomeData["title-2"]}</h2>
    <PlanHomeWidget2/>
</div>

<style>
    div {
        width: 1194px;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 500;
    }
    h2 {
        margin: 0;
        margin-top: 80px;
		font-family: "Sitara-Bold", sans-serif;
        font-size: 120px;
        font-style: italic;
        font-weight: 700;
        line-height: 108px;
        text-align: left;
    }
    h2:first-of-type {
        z-index: -2;
    }
    img {
        width: 941px;
        top: 110px;
        left: 400px;
        position: absolute;
        z-index: -1;
    }
    /* Адаптируем под разрешение от 1400 до 1500px */
    @media (max-width: 1500px) {
        img {
            width: 880px;
            top: 140px;
        }
    }
    /* Адаптируем под разрешение от 1024 до 1400px */
    @media (max-width: 1400px) {
        div {
            width: 1000px;
        }
        img {
            width: 610px;
            top: 220px;
        }
        h2 {
            font-size: 100px;
        }
        img {
            width: 610px;
            top: 220px;
        }
    }

    /* Адаптируем под разрешение от 768 до 1024px */
    @media (max-width: 1024px) {
        div {
            width: 760px;
        }
        h2 {
            margin-top: 40px;
            font-size: 72px;
            line-height: 72px;
        }
        img {
            width: 520px;
            top: 180px;
            left: 240px;
        }
    }
    /* Адаптируем под разрешение от 425 до 768px */
    @media (max-width: 768px) {
        img {
            position: static;
            width: 420px;
        }
        div {
            width: 100%;
            align-items: center;
        }
        h2 {
            font-size: 42px;
            text-align: center;
            line-height: 52px;
        }
    }
    /* Адаптируем под разрешение до 425px */
    @media (max-width: 425px) {
        h2 {
            margin-top: 20px;
            font-family: "Sitara-Bold", sans-serif;
            font-size: 40px;
            font-style: italic;
            font-weight: 700;
            line-height: 40px;
            text-align: center;
            text-underline-position: from-font;
            text-decoration-skip-ink: none;
        }
        img {
            width: 329px;
            height: 452px;
        }
    }
</style>